<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学习session</title>
</head>
<body>
<center>
    <div>
        <form action="{{ url_for('session_') }}" method="POST">

            输入ID: <input type="text" name="id">

        </form>
    </div>

    <h2>
        {% if id %}
            ID是: {{ id }}
        {% else %}
            Hello 韩小醋
        {% endif %}
    </h2>
    <!--
    这里分开其实就是这样的：
        {% if id %}
            ID是: {{ id }}
        {% else %}
            Hello Strong
       {% endif %}
    -->
</center>

</body>
</html>